.categoryLabel {
    color: rgba(219, 68, 68, 1);
    /* margin-top: 150px; */
}

.relatedItems {
    color: rgba(219, 68, 68, 1);
    margin-top: 50px;
    margin-bottom: 40px;
}

.redCard {
    height: 40px;
    width: 20px;
    background-color: rgba(219, 68, 68, 1);
}