ul li {
    list-style: none;
    padding-right: 40px;
}

ul{
    margin-bottom: 0;
}
input[type="text"] {
    background-color: rgba(245, 245, 245, 1);
    color: black;
    height: 40px;
    width: 270px;
    border: none;
    padding: 10px;
    font-size: 15px;
    display: flex;
}

.searchImg {
    position: absolute;
    height: 16px;
    width: 16px;
    right: 10px;
    top: 12px;
}