.mainWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.productImgContainer{
    background-color: rgba(245, 245, 245, 1);
    height: 550px;
    width: 100%;
}