.productImgContainer {
    background-color: rgba(245, 245, 245, 1);
    width: 270px;
    height: 250px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.favoriteImg{
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 13px;
    margin-right: 10px;
}

.previewIcon{
    width: 34px;
    height: 34px;
    position: absolute;
    right: 0;
    top: 55px;
    margin-right: 10px;
}